<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>


</head>
<body th:fragment="footer_admin">

<!-- jquery
    ============================================ -->
<script type="text/javascript" th:src="@{admin/js/vendor/jquery-1.12.4.min.js}"></script>
<!-- bootstrap JS
    ============================================ -->
<script type="text/javascript" th:src="@{admin/js/bootstrap.min.js}"></script>
<!-- wow JS
    ============================================ -->
<script type="text/javascript" th:src="@{admin/js/wow.min.js}"></script>
<!-- price-slider JS
    ============================================ -->
<script type="text/javascript" th:src="@{admin/js/jquery-price-slider.js}"></script>
<!-- meanmenu JS
    ============================================ -->
<script type="text/javascript" th:src="@{admin/js/jquery.meanmenu.js}"></script>
<!-- owl.carousel JS
    ============================================ -->
<script type="text/javascript" th:src="@{admin/js/owl.carousel.min.js}"></script>
<!-- sticky JS
    ============================================ -->
<script type="text/javascript" th:src="@{admin/js/jquery.sticky.js}"></script>
<!-- scrollUp JS
    ============================================ -->
<script type="text/javascript" th:src="@{admin/js/jquery.scrollUp.min.js}"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script type="text/javascript"
		th:src="@{admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
<script type="text/javascript"
		th:src="@{admin/js/scrollbar/mCustomScrollbar-active.js}"></script>
<!-- metisMenu JS
    ============================================ -->
<script type="text/javascript" th:src="@{admin/js/metisMenu/metisMenu.min.js}"></script>
<script type="text/javascript" th:src="@{admin/js/metisMenu/metisMenu-active.js}"></script>
<!-- sparkline JS
    ============================================ -->
<script type="text/javascript"
		th:src="@{admin/js/sparkline/jquery.sparkline.min.js}"></script>
<script type="text/javascript"
		th:src="@{admin/js/sparkline/jquery.charts-sparkline.js}"></script>
<!-- calendar JS
    ============================================ -->
<script type="text/javascript" th:src="@{admin/js/calendar/moment.min.js}"></script>
<script type="text/javascript" th:src="@{admin/js/calendar/fullcalendar.min.js}"></script>
<script type="text/javascript" th:src="@{admin/js/calendar/fullcalendar-active.js}"></script>
<!-- float JS
    ============================================ -->
<script type="text/javascript" th:src="@{admin/js/flot/jquery.flot.js}"></script>
<script type="text/javascript" th:src="@{admin/js/flot/jquery.flot.resize.js}"></script>
<script type="text/javascript" th:src="@{admin/js/flot/curvedLines.js}"></script>
<script type="text/javascript" th:src="@{admin/js/flot/flot-active.js}"></script>
<!-- plugins JS
    ============================================ -->
<script type="text/javascript" th:src="@{admin/js/plugins.js}"></script>
<!-- main JS
    ============================================ -->
<script type="text/javascript" th:src="@{admin/js/main.js}"></script>

<!--code new=====================================================================-->
<script th:src="@{admin/js/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{admin/js/popper.min.js}"></script>
<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
<!--===============================================================================================-->
<script th:src="@{admin/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{admin/js/main2.js}"></script>
<!--===============================================================================================-->
<script th:src="@{admin/js/plugins/pace.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{admin/js/plugins/chart.js}"></script>
<!--===============================================================================================-->
<script th:inline="javascript">
	var data = {
		labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6"],
		datasets: [{
			label: "D? li?u ??u tiên",
			fillColor: "rgba(255, 213, 59, 0.767), 212, 59)",
			strokeColor: "rgb(255, 212, 59)",
			pointColor: "rgb(255, 212, 59)",
			pointStrokeColor: "rgb(255, 212, 59)",
			pointHighlightFill: "rgb(255, 212, 59)",
			pointHighlightStroke: "rgb(255, 212, 59)",
			data: [20, 59, 90, 51, 56, 100]
		},
			{
				label: "D? li?u k? ti?p",
				fillColor: "rgba(9, 109, 239, 0.651)  ",
				pointColor: "rgb(9, 109, 239)",
				strokeColor: "rgb(9, 109, 239)",
				pointStrokeColor: "rgb(9, 109, 239)",
				pointHighlightFill: "rgb(9, 109, 239)",
				pointHighlightStroke: "rgb(9, 109, 239)",
				data: [48, 48, 49, 39, 86, 10]
			}
		]
	};
	var ctxl = $("#lineChartDemo").get(0).getContext("2d");
	var lineChart = new Chart(ctxl).Line(data);

	var ctxb = $("#barChartDemo").get(0).getContext("2d");
	var barChart = new Chart(ctxb).Bar(data);
</script>
<script th:inline="javascript">
	//Th?i Gian
	function time() {
		var today = new Date();
		var weekday = new Array(7);
		weekday[0] = "Chủ Nhật";
		weekday[1] = "Thứ Hai";
		weekday[2] = "Thứ Ba";
		weekday[3] = "Thứ Tư";
		weekday[4] = "Thứ Năm";
		weekday[5] = "Thứ Sáu";
		weekday[6] = "Thứ Bảy";
		var day = weekday[today.getDay()];
		var dd = today.getDate();
		var mm = today.getMonth() + 1;
		var yyyy = today.getFullYear();
		var h = today.getHours();
		var m = today.getMinutes();
		var s = today.getSeconds();
		m = checkTime(m);
		s = checkTime(s);
		nowTime = h + " giờ " + m + " phút " + s + " giây";
		if (dd < 10) {
			dd = '0' + dd
		}
		if (mm < 10) {
			mm = '0' + mm
		}
		today = day + ', ' + dd + '/' + mm + '/' + yyyy;
		tmp = '<span class="date"> ' + today + ' - ' + nowTime +
				'</span>';
		document.getElementById("clock").innerHTML = tmp;
		clocktime = setTimeout("time()", "1000", "Javascript");

		function checkTime(i) {
			if (i < 10) {
				i = "0" + i;
			}
			return i;
		}
	}
</script>

</body>
</html>
