<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>WRITER Admin</title>
</head>
<body th:fragment="links_admin">



	<!-- favicon
		============================================ -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
	<!-- Google Fonts
		============================================ -->
	<link
		href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900"
		rel="stylesheet">
	<!-- Bootstrap CSS
		============================================ -->
	<link rel="stylesheet"
		th:href="@{admin/css/bootstrap.min.css}">

	<!-- Bootstrap CSS
		============================================ -->
	<link rel="stylesheet"
		th:href="@{admin/css/font-awesome.min.css}">
	<!-- nalika Icon CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{admin/css/nalika-icon.css}">
	<!-- owl.carousel CSS
		============================================ -->
	<link rel="stylesheet"
		th:href="@{admin/css/owl.carousel.css}">
	<link rel="stylesheet" th:href="@{admin/css/owl.theme.css}">
	<link rel="stylesheet"
		th:href="@{admin/css/owl.transitions.css}">
	<!-- animate CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{admin/css/animate.css}">
	<!-- normalize CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{admin/css/normalize.css}">
	<!-- meanmenu icon CSS
		============================================ -->
	<link rel="stylesheet"
		th:href="@{admin/css/meanmenu.min.css}">
	<!-- main CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{admin/css/main.css}">
	<!-- morrisjs CSS
		============================================ -->
	<link rel="stylesheet"
		th:href="@{admin/css/morrisjs/morris.css}">
	<!-- mCustomScrollbar CSS
		============================================ -->
	<link rel="stylesheet"
		th:href="@{admin/css/scrollbar/jquery.mCustomScrollbar.min.css}">
	<!-- metisMenu CSS
		============================================ -->
	<link rel="stylesheet"
		th:href="@{admin/css/metisMenu/metisMenu.min.css}">
	<link rel="stylesheet"
		th:href="@{admin/css/metisMenu/metisMenu-vertical.css}">
	<!-- calendar CSS
		============================================ -->
	<link rel="stylesheet"
		th:href="@{admin/css/calendar/fullcalendar.min.css}">
	<link rel="stylesheet"
		th:href="@{admin/css/calendar/fullcalendar.print.min.css}">
	<!-- style CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{admin/style.css}">
	<!-- responsive CSS
		============================================ -->
	<link rel="stylesheet" th:href="@{admin/css/responsive.css}">
	<!-- modernizr JS
		============================================ -->
	<script type="text/javascript" th:src="@{admin/js/vendor/modernizr-2.8.3.min.js}"></script>

</body>
</html>