<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta charset="utf-8">
</head>
<body th:fragment="header_admin">
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" th:src="@{admin/img/admin.jpg}" width="50px"
                                        alt="User Image">
        <div>
            <p class="app-sidebar__user-name"><b th:text="${username}"></b></p>
            <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
        </div>
    </div>
    <hr>
    <ul class="app-menu">
        <li><a class="app-menu__item " th:href="@{/admin-listCategory}"><i class='app-menu__icon bx bx-table'></i> <span
                class="app-menu__label">Quản lý loại sản phẩm</span></a></li>
        <li><a class="app-menu__item" th:href="@{/admin}"><i
                class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý sản phẩm</span></a>
        </li>
        <li><a class="app-menu__item"  th:href="@{/admin-listCustomer}"><i class='app-menu__icon bx bx-user-voice'></i><span
                class="app-menu__label">Quản lý khách hàng</span></a></li>
        <li><a class="app-menu__item"   th:href="@{/admin-listOrder}"><i class='app-menu__icon bx bx-task'></i><span
                class="app-menu__label">Quản lý đơn hàng</span></a></li>
    </ul>
</aside>
<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="app-title">
                <div id="clock"></div>
            </div>
        </div>
    </div>
</main>

</div>
</body>
</html>
