<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Product Edit | WRITER Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
            ============================================ -->

</head>
<style>
    h3 {
        color: white;
    }
</style>
<body>
<!-- NƠI GẮN LINK VÀO -->
<div th:insert="~{admin/linkAdm :: links_admin}"></div>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<div th:insert="~{admin/header :: header_admin}"></div>
<div class="all-content-wrapper product-status mg-b-30">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="product-status-wrap">
                <h4>Product Type</h4>
                <div class="add-product">
                    <a th:href="@{/admin-addType}">Thêm loại sản phẩm </a>
                </div>

                <table>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Thao tác</th>
                    </tr>
                    <div th:each="category : ${listcategory}">
                        <tr>
                            <td><p th:text="${category.id }"></p></td>
                            <td><a
                                    th:href="@{/admin/listProductType(id=${category.id})}"><p
                                    th:text="${category.name}"></p></a></td>
                            <td><a th:href="@{/admin-editType(id=${category.id})}">
                                <button data-toggle="tooltip" title="Edit"
                                        class="pd-setting-ed">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"> </i>
                                </button>
                            </a> <a onclick="return confirm('Bạn có chắc muốn xóa')"
                                    th:href="@{/admin-deleteType(id=${category.id})}">
                                <button data-toggle="tooltip" title="Trash"
                                        class="pd-setting-ed">
                                    <i class="fa fa-trash-o" aria-hidden="true"> </i>
                                </button>
                            </a></td>
                        </tr>
                    </div>
                    <!-- 	</c:forEach> -->
                </table>
            </div>
        </div>
    </div>
</div>
<!--FOOTER -->

<div th:insert="~{admin/footer :: footer_admin}"></div>
</body>
</html>