<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Product Edit | Nalika - Material Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body onload="time()" class="app sidebar-mini rtl">
<!-- NƠI GẮN LINK VÀO -->
<div th:insert="~{admin/linkAdm :: links_admin}"></div>


<div th:insert="~{admin/navbar :: header_admin}"></div>


<!-- Start Welcome area -->
<div class="all-content-wrapper">

    <!-- Single pro tab start-->
    <div class="single-product-tab-area mg-b-30">
        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="review-tab-pro-inner">
                            <ul id="myTab3" class="tab-review-design">
                                <li class="active"><a href="#description"><i
                                        class="icon nalika-edit" aria-hidden="true"></i> Thêm sản
                                    phẩm</a></li>
                            </ul>
                            <div style="float: right;">
                                <h4>
                                    <a th:href="@{/admin}">Quay lại</a>
                                </h4>
                            </div>

                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in"
                                     id="description">
                                    <div class="row">

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <form method="POST" th:object="${AddBookInput}"
                                                  th:action="@{/admin-productAdd}" enctype="multipart/form-data">
                                                <label class="col-sm-2 control-label"> Hình ảnh:</label>
                                                <div class="col-sm-10" style="margin-bottom: 10px">
                                                    <input type="file" id="images" name="images"
                                                           class="form-control-file"
                                                           accept="image/png, image/jpeg, image/jpg"
                                                           onchange="loadImg(event)">
                                                    <ul>
                                                        <li id="img-list"></li>
                                                    </ul>
                                                </div>
                                                <label class="col-sm-2 control-label"> Tên sách:</label>
                                                <div class="col-sm-10" style="margin-bottom: 10px"><input
                                                        name="title"
                                                        class="form-control" required/></div>
                                                <label class="col-sm-2 control-label"> Thể loại: </label>
                                                <div class="col-sm-10" style="margin-bottom: 10px"><select
                                                        name="category"
                                                        class="form-control" required>
                                                    <option th:each="category : ${listcategory}"
                                                            th:value="${category.code}"
                                                            th:text="${category.name}"></option>
                                                </select>
                                                </div>
                                                <label class="col-sm-2 control-label"> Giá: </label>
                                                <div class="col-sm-10" style="margin-bottom: 10px"><input
                                                        name="price"
                                                        class="form-control" required/>VND
                                                </div>
                                                <label class="col-sm-2 control-label">Sản phẩm Hot </label>
                                                <div class="col-sm-10" style="margin-bottom: 10px"><input
                                                        type="checkbox" name="hotBook"
                                                        class="form-control"/></div>
                                                <label class="col-sm-2 control-label">Sản phẩm Mới </label>
                                                <div class="col-sm-10" style="margin-bottom: 10px"><input
                                                        type="checkbox" name="newBook"
                                                        class="form-control"/></div>
                                                <label class="col-sm-2 control-label"> Giảm giá: </label>
                                                <div class="col-sm-10" style="margin-bottom: 10px"><input
                                                        name="discount"
                                                        type="datetime" class="form-control"
                                                        required/>%
                                                </div>
                                                <label class="col-sm-2 control-label"> Nhà sản xuất:</label>
                                                <div class="col-sm-10" style="margin-bottom: 10px"><input
                                                        name="publisher"
                                                        class="form-control" required/></div>
                                                <label class="col-sm-2 control-label">Số trang:</label>
                                                <div class="col-sm-10" style="margin-bottom: 10px"><input
                                                        name="page"
                                                        class="form-control" required/></div>
                                                <label class="col-sm-2 control-label"> Số lượng: </label>
                                                <div class="col-sm-10" style="margin-bottom: 10px"><input
                                                        name="quantity"
                                                        class="form-control" required/></div>
                                                <label class="col-sm-2 control-label"> Mô tả:</label>
                                                <div class="col-sm-10" style="margin-bottom: 10px"><textarea
                                                        name="description" class="form-control"
                                                        required></textarea></div>
                                                <br/> <br/>
                                                <button type="submit">Lưu</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FOOTER -->
<script type="text/javascript">
    var loadImg = function (event) {
        var images = document.getElementById('images').value;
        for (let i = 0; i < images.length; i++) {
            var img = document.createElement("img");
            img.style.width = '250px';
            img.src = URL.createObjectURL(event.target.files[i]);
            var imglist = document.getElementById("img-list");
            imglist.append(img);

        }

    };


</script>

<div th:insert="~{admin/footer :: footer_admin}"></div>

</body>

</html>
