<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WRITER Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
            ============================================ -->

</head>
<style>
    h3 {
        color: white;
    }
</style>
<body>
<!-- NƠI GẮN LINK VÀO -->
<div th:insert="~{admin/linkAdm :: links_admin}"></div>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<div th:insert="~{admin/header :: header_admin}"></div>


<div class="all-content-wrapper">
    <!-- Single pro tab start-->
    <div class="single-product-tab-area mg-b-30">
        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="review-tab-pro-inner">
                            <ul id="myTab3" class="tab-review-design">
                                <li class="active"><a href="#description"> <i
                                        class="icon nalika-edit" aria-hidden="true"> </i> Thêm sản
                                    loại phẩm
                                </a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in"
                                     id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <!-- 	<form action="addType" method="POST"
                                                modelAttribute="category"> -->
                                            <form action="" method="POST" th:object="${category}" th:action="@{/admin-addType}">
                                                <br/> Mã sách: <input th:field="*{code}"
                                                                      name="code" class="form-control" type="text"/>
                                                <br/>
                                                <br/> Tên loại sách: <input th:field="*{name}"
                                                                            name="name" class="form-control"
                                                                            type="text"/> <br/>
                                                <!-- <form:errors path="tenTheLoai" cssClass="error" /> -->
                                                <button type="submit">Lưu</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-copyright-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-copy-right"></div>
            </div>
        </div>
    </div>
</div>
<!--FOOTER -->

<div th:insert="~{admin/footer :: footer_admin}"></div>

</body>
</html>