<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Blog</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/web/css/bootstrap.min.css}">
    <!-- Site CSS -->
    <link rel="stylesheet" th:href="@{/web/css/style.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" th:href="@{/web/css/responsive.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/web/css/custom.css}">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div th:replace="~{/web/fragment::main-top}"></div>
<div th:replace="~{/web/fragment::header}"></div>
<div th:replace="~{/web/fragment::top-search}"></div>
<!-- Start Blog  -->
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>BLOG</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="images/blog-img.jpg" alt=""/>
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Hướng dẫn trồng cây chanh leo vừa có trái lại có bóng mát</h3>
                            <p>Cây chanh leo là loại cây trồng giàn vừa lấy bóng mát mà lại có trái ăn, tría có vị chua,
                                dịu ngọt, thơm và đây cũng là thức uống ưa thích của nhiều người. Cây thuộc họ cam chanh và
                                có nguồn gốc từ các nước thuộc Nam Mỹ như Argentina, Brazil hay Paraguay. Ngày nay, cây
                                chanh leo rất phổ biến ở Việt Nam được chia thành 2 loại là chanh leo vỏ vàng và chanh
                                leo vỏ đỏ.
                            </p>
                        </div>
                        <ul class="option-blog">
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                            <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            <li><a href="#"><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="images/blog-img-01.jpg" alt=""/>
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Tuyển tập 5 loại cây giúp gia chủ bình an hút tài lộc</h3>
                            <p>Trong văn hóa Việt từ ngàn đời nay, thờ cúng ông bà tổ tiên là việc hết sức thiêng liêng.
                                Nhiều người để có một bàn thờ vừa đẹp mắt, vừa muốn tăng thêm vượng khí cho ngôi nhà
                                thường chọn cách dâng lên bàn thờ các loại hoa như hoa cúc, hoa huệ, hoa sen,...Một số
                                khác thì chọn mua cây cảnh về trưng. Vậy cây trưng bàn thờ là những cây nào? Cùng tìm
                                hiểu nhé.</p>
                        </div>
                        <ul class="option-blog">
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                            <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            <li><a href="#"><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="images/blog-img-02.jpg" alt=""/>
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Cách bố trí cây cảnh trong phòng làm việc khoa học nhất</h3>
                            <p>Ngoại trừ phòng khách, phòng bếp hay sân thượng, … thì nhiều người còn trồng cây cảnh
                                trong phòng làm việc ở nhà. Màu xanh mát mắt của cây có thể giải tỏa được căng thẳng,
                                giúp chúng ta làm việc hiệu quả hơn. Tuy nhiên, với không gian hạn chế, bạn cần biết
                                cách bố trí cây cảnh trong phòng làm việc cho thật khoa học, hợp lý. Vậy cách bố trí như thế nào? Cùng tìm hiểu nhé.</p>
                        </div>
                        <ul class="option-blog">
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                            <li><a href="#"><i class="fas fa-eye"></i></a></li>
                            <li><a href="#"><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog  -->
<!-- End Blog  -->
<div th:replace="~{web/fragment::instagram}"></div>
<div th:replace="~{web/fragment::footer}"></div>
<div th:replace="~{web/fragment::copyright}"></div>
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<th:block th:insert="~{web/fragment::body/script}"></th:block>
</body>
</html>