<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TreeStore</title>
    <th:block th:insert="~{web/fragment::head/link}"></th:block>
</head>
<body>
<!-- Start Main Top -->
<div th:replace="~{web/fragment::mainTop}"></div>

<!-- Start Main Header -->
<header th:replace="~{web/fragment::mainHeader}"></header>

<!-- Start Top Search -->
<div th:replace="~{web/fragment::topSearch}"></div>

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Shop Detail</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">Shop Detail</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div id="product-image">
                    <!--load ajax-->
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6">
                <div class="single-product-details">
                    <!--                    load ajax-->
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Có thể bạn sẽ thích</h1>
                    <p>Những sản phẩm cùng danh mục được mua sắm nhiều.</p>
                </div>
                <div class="featured-products-box owl-carousel owl-theme">
                    <th:block th:each="tree: ${treeRelate}">
                        <div class="item">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <img th:src="${tree.mediaList[0].path}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a th:href="@{/chi-tiet-san-pham(id=${tree.id})}" data-toggle="tooltip"
                                                   data-placement="right" title="Chi tiết"><i
                                                    class="fas fa-eye"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right"
                                                   title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <a class="btn cart" th:onclick=" 'addCart('+${tree.id}+')' ">Thêm vào giỏ
                                            hàng</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4 th:utext="${tree.name}"></h4>
                                    <h5 th:utext="${tree.getPriceDiscount()}"></h5>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Cart -->

<!-- Start Instagram Feed  -->
<div th:replace="~{web/fragment::instagramBox}"></div>

<!--Footer-->
<footer th:replace="~{web/fragment::footer}"></footer>

<!--Copyright-->
<div th:replace="~{web/fragment::copyRight}"></div>

<!--Back to top-->
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<th:block th:insert="~{web/fragment::body/script}"></th:block>
<script th:inline="javascript">
    $(function () {
        $.ajax({
            method: "get",
            url: "thong-tin-san-pham" + window.location.search,
            dataType: 'json',
            cache: 'false'
        }).done(function (tree) {
            var str = "";
            var image = "";
            //image
            image += "<img class='d-block w-100' src='" + tree.mediaList[0].path + "' alt='tree image'>";

            str += "<h2>" + tree.name + "</h2>";
            str += "<del>";
            str += tree.discount ? tree.priceFormat : "";
            str += "</del>";
            str += "<h4>";
            str += tree.priceDiscount;
            str += "</h4>";
            str += "<p><span> Danh mục: <a href='/san-pham?category=" + tree.category.code + "'>" + tree.category.name + "</a></span></p>";
            str += "<p><span> Có sẵn ";
            str += tree.quantity ? tree.quantity : 'Hết hàng' + "</span></p>";
            str += "<p>Đã bán: " + tree.quantitySold + "</p>"
            str += "<h4>Chi tiết</h4>";
            str += "<p>" + tree.description + "</p>";
            str += "<div class='price-box-bar'>";
            str += "    <div class='cart-and-bay-btn'>";
            str += "        <a class='btn hvr-hover' href='/thanh-toan?id=" + tree.id + "'>Mua ngay</a>";
            str += "        <a class='btn hvr-hover' onclick=' addCart(" + tree.id + ")'>Thêm vào giỏ</a>";
            str += "    </div>";
            str += "</div>";
            $('.single-product-details').html(str);
            $('#product-image').html(image);
        })
    });

</script>
</body>
</html>