<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TreeStore</title>
    <th:block th:insert="~{web/fragment::head/link}"></th:block>
</head>
<body>
<!-- Start Main Top -->
<div th:replace="~{web/fragment::mainTop}"></div>

<!-- Start Main Header -->
<header th:replace="~{web/fragment::mainHeader}"></header>

<!-- Start Top Search -->
<div th:replace="~{web/fragment::topSearch}"></div>

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>ĐẶT HÀNG</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Đặt hàng</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!--Forgot password-->
<div class="container">
    <div class="alert alert-info mt-4" style="font-size: 30px">
        <button data-dismiss="alert" class="close"></button>
        <i class="fa-fw fa fa-check"></i>
        Đặt hàng thành công
    </div>
</div>
<!-- Start Instagram Feed  -->
<div th:replace="~{web/fragment::instagramBox}"></div>

<!--Footer-->
<footer th:replace="~{web/fragment::footer}"></footer>

<!--Copyright-->
<div th:replace="~{web/fragment::copyRight}"></div>

<!--Back to top-->
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<th:block th:insert="~{web/fragment::body/script}"></th:block>
</body>
</html>