<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TreeStore</title>
    <link th:href="@{web/images/logo.png}" rel="shortcut icon" type="image/x-icon"/>
    <th:block th:insert="~{web/fragment::head/link}"></th:block>
</head>
<body>
<!-- Start Main Top -->
<div th:replace="~{web/fragment::mainTop}"></div>

<!-- Start Main Header -->
<header th:replace="~{web/fragment::mainHeader}"></header>

<!-- Start Top Search -->
<div th:replace="~{web/fragment::topSearch}"></div>

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Quên mật khẩu</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Quên mật khẩu</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!--Forgot password-->
<div class="container">
    <h1 class="title mt-4"><span>Đổi mật khẩu</span></h1>
    <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12 col-xs-offset-0 col-sm-offset-0">
        <form onsubmit="return checkPass()&&rewritePass()&&checkOldPass()" method="post" th:action="@{/change-information}" class="form-horizontal"
              th:object="${user}">

            <th:block th:unless="${forget}">
                <div class="form-group">
                    <label class="control-label">Mật khẩu cũ<span
                            class="warning">(*)</span></label>
                    <div class="col-sm-9">
                        <input id="oldPassword" type="password" class="form-control"
                               th:onblur="checkOldPass()"/>
                        <div id="oldPasswordError" style="color: red"></div>
                    </div>
                </div>
            </th:block>
            <input type="hidden" id="oldPass" name="oldPass" th:value="${forget}">
            <input type="hidden" name="email" th:value="${email}">
            <div class="form-group">
                <label class="control-label">Mật khẩu<span
                        class="warning">(*)</span></label>
                <div class="col-sm-9">
                    <div><input id="password" class="form-control" type="password" name="password"
                                size="15" onkeyup="checkPass()" onblur="checkPass()"></div>
                    <div id="passError" style="display: none;color: red">Error</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Nhập lại mật khẩu<span
                        class="warning">(*)</span></label>
                <div class="col-sm-9">
                    <div><input class="form-control" id="confirmPassword"
                                type="password" size="15"
                                onkeyup="rewritePass()"  onblur="rewritePass()"></div>
                    <div id="rePassError" style="display: none;color: red">Error</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-default">Đổi mật khẩu</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Start Instagram Feed  -->
<div th:replace="~{web/fragment::instagramBox}"></div>

<!--Footer-->
<footer th:replace="~{web/fragment::footer}"></footer>

<!--Copyright-->
<div th:replace="~{web/fragment::copyRight}"></div>

<!--Back to top-->
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<th:block th:insert="~{web/fragment::body/script}"></th:block>
</body>
</html>