<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TreeStore</title>
    <link th:href="@{web/images/logo.png}" rel="shortcut icon" type="image/x-icon"/>
    <th:block th:insert="~{web/fragment::head/link}"></th:block>
</head>
<body>
<!-- Start Main Top -->
<div th:replace="~{web/fragment::mainTop}"></div>

<!-- Start Main Header -->
<header th:replace="~{web/fragment::mainHeader}"></header>

<!-- Start Top Search -->
<div th:replace="~{web/fragment::topSearch}"></div>

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>GIỎ HÀNG</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/san-pham">Shop</a></li>
                    <li class="breadcrumb-item active">Giỏ hàng</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <form th:action="@{/thanh-toan}" method="post" th:object="${orderedInput}">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                                <th>Xóa</th>
                            </tr>
                            </thead>
                            <tbody id="cart-detail">
                            <!--load ajax-->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Đơn hàng</h3>
                        <div class="d-flex">
                            <h4>Tổng thanh toán</h4>
                            <div class="ml-auto font-weight-bold" id="total-price"></div>
                        </div>
                        <input type="hidden" value="" id="total">
                    </div>
                </div>
                <div class="col-12 d-flex shopping-box">
                    <button type="submit" class="ml-auto btn hvr-hover">Mua hàng</button>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <a class="btn btn-default" th:href="@{/san-pham}">Tiếp tục
                        mua hàng</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Cart -->

<!-- Start Instagram Feed  -->
<div th:replace="~{web/fragment::instagramBox}"></div>

<!--Footer-->
<footer th:replace="~{web/fragment::footer}"></footer>

<!--Copyright-->
<div th:replace="~{web/fragment::copyRight}"></div>

<!--Back to top-->
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<th:block th:insert="~{web/fragment::body/script}"></th:block>
<script>
    $(function () {
        $.ajax({
            method: "get",
            url: "cart-item",
            dataType: "json",
            cache: "false"
        }).done(function (result) {
            showCart(result)
        });
    })

    function showCart(result) {
        var str = "";
        for (let item of result.list) {
            console.log(item)
            str += " <tr>";
            str += "<td><input type='checkbox' id='check" + item.tree.id + "' name='carts' field='carts' value='" + item.id + "' onclick='setTotalPrice(" + item.tree.id + "," + item.tree.price + "," + item.tree.discount + "," + item.quantity + "' checked></td>";
            str += "<td class='thumbnail-img'>";
            str += "    <a href=''#'>";
            str += "        <img src='" + item.tree.mediaList[0].path + "' class='img-fluid' alt='Product image'/>";
            str += "    </a>";
            str += "</td>";
            str += "<td class='name-pr'>";
            str += "    <a href='/chi-tiet-san-pham?id=" + item.tree.id + "'>";
            str += item.tree.name;
            str += "    </a>";
            str += "</td>";
            str += "<td class='price-pr'>";
            str += "    <p>" + item.tree.priceDiscount + "</p>";
            str += "</td>";
            str += "<td class='quantity-box'><input id='quantity" + item.tree.id + "' onchange='quantityChange(" + item.tree.id + ")' type='number' size='4'  value='" + item.quantity + "' min='0' step='1' class='c-input-text qty text'></td>";
            str += "<td class='total-pr'>";
            str += "<p>" + item.total + "</p>";
            str += "</td>";
            str += "<td class='remove-pr'>";
            str += "    <a onclick='deleteItem(" + item.tree.id + ")'>";
            str += "        <i class='fas fa-times'></i>";
            str += "    </a>";
            str += "</td>";
            str += "</tr>";
        }

        $('#cart-detail').html(str);
        $('#total-price').html(formatPrice(result.total));
        $('#total').val(result.total);

    }

    function setTotalPrice(id, price, discount, quantity) {
        var total = document.getElementById("total").value;
        total = Number(total);
        var price = Number(price);
        var discount = Number(discount);
        var quantity = Number(quantity);
        var checkBox = document.getElementById("check" + id);
        if (checkBox.checked) {
            total = total + quantity * price * (1 - discount / 100);
        } else {
            total = total - quantity * price * (1 - discount / 100);
        }
        $('#total-price').html(formatPrice(total));
        $('#total').val(total);
    }

    function quantityChange(id) {
        var quantity = document.getElementById("quantity" + id).value;

        if (quantity >= 5) {
            quantity = 5;
        }
        if (quantity <= 0) {
            $('#quantity' + id).val(1);
            quantity = document.getElementById("quantity" + id).value;
        }
        $.ajax({
            method: "get",
            url: "update-quantity",
            dataType: 'json',
            cache: 'false',
            data: {
                id: id,
                quantity: quantity
            }
        }).done(function (rs) {
            showCart(rs);
        });

    }

    function deleteItem(id) {
        $.ajax({
            method: "get",
            url: "update-quantity",
            dataType: 'json',
            cache: 'false',
            data: {
                id: id,
                quantity: 0
            }
        }).done(function (rs) {
            showCart(rs);
        });
    }
</script>
</body>
</html>