<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TreeStore</title>
    <th:block th:insert="~{web/fragment::head/link}"></th:block>
</head>
<body>
<!-- Start Main Top -->
<div th:replace="~{web/fragment::mainTop}"></div>

<!-- Start Main Header -->
<header th:replace="~{web/fragment::mainHeader}"></header>

<!-- Start Top Search -->
<div th:replace="~{web/fragment::topSearch}"></div>

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>GIỚI THIỆU</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Giới thiệu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="images/about-img.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">Chào mừng bạn đến với TreeStore</h2>
                    <p> Cây cảnh, từ trước đến nay vẫn được xem như vật trang trí, làm đẹp không gian sống cho con người.
                        Cây để bàn, bonsai, terrarium, cây thuỷ sinh hoặc cây treo chậu… mỗi loại mỗi cây đều có ý nghĩa và
                        vẻ đẹp riêng của mình, góp phần đáng kể làm cho cuộc sống chúng ta thêm sinh động, trở nên đáng yêu
                        và thanh bình hơn.</p>
                    <p>Nhưng tại TreeStore, chúng tôi muốn mang đến cho bạn không chỉ là cây cảnh, chúng tôi muốn mang đến
                        cho bạn những trải nghiệm tuyệt vời mà không nơi nào có.</p>
					<a class="btn hvr-hover" href="#">Xem thêm</a>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Về TreeStore</h3>
                        <li>-Đứng đầu lĩnh vực Online về thị trường cây cảnh.</li>
                        <li>-Bảo hành sau khi mua cây.</li>
                        <li>Tư vấn chuyên nghiệp.</li>
                        <li>Hỗ trợ giải đáp thắc mắc.</li>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>TreeStore làm những gì?</h3>
                        <p>TreeStore làm 3 hạng mục chính:</p>
                        <p>– Bán Cây Cảnh để bàn, văn phòng, nội thất, phong thủy…</p>
                        <p>– Chăm sóc cây cho văn phòng, tòa nhà, tại nhà.</p>
                        <p>– Thiết kế và tư vấn bố trí cây xanh.</p>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Sứ mệnh</h3>
                        <p>TreeStore đặt ra cho mình sứ mệnh cung cấp các loại cây làm đẹp không gian sống và không chỉ vậy, còn cung cấp thêm các giá trị tinh thần cho khách hàng, là điểm đến cho mọi khách hàng có nhu cầu tìm mua những cây cảnh trang trí đẹp, phù hợp cá tính, phong thuỷ, không gian sống và làm việc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

<!-- Start Instagram Feed  -->
<div th:replace="~{web/fragment::instagramBox}"></div>

<!--Footer-->
<footer th:replace="~{web/fragment::footer}"></footer>

<!--Copyright-->
<div th:replace="~{web/fragment::copyRight}"></div>

<!--Back to top-->
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<th:block th:insert="~{web/fragment::body/script}"></th:block>
</body>
</html>