<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TreeStore</title>
    <link th:href="@{web/images/logo.png}" rel="shortcut icon" type="image/x-icon"/>
    <th:block th:insert="~{web/fragment::head/link}"></th:block>
</head>
<body>
<!-- Start Main Top -->
<div th:replace="~{web/fragment::mainTop}"></div>

<!-- Start Main Header -->
<header th:replace="~{web/fragment::mainHeader}"></header>

<!-- Start Top Search -->
<div th:replace="~{web/fragment::topSearch}"></div>

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <th:block th:each="banner : ${bannerlist}">
            <li class="text-center">
                <img th:src="${banner.url}" alt="banner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> TreeStore</strong></h1>
                            <p class="m-b-40">Chúng tôi cung cấp các loại cây cảnh đa dạng và chất lượng, giúp bạn tạo nên một khu vườn xanh tươi, <br>thư giãn và đầy năng lượng.</p>
                            <p><a class="btn hvr-hover" href="/san-pham">Sản phẩm mới</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </th:block>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>

<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Sản phẩm nổi bật</h1>
                    <p>Những sản phẩm mới - hot được cập nhật liên tục</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">Tất cả</button>
                        <button data-filter=".best-seller">Bán chạy</button>
                        <button data-filter=".top-featured">Mới</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">
            <th:block th:each="tree: ${newlist}">
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Mới</p>
                            </div>
                            <img th:src="${tree.mediaList[0].path}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a th:href="@{/chi-tiet-san-pham(id=${tree.id})}" data-toggle="tooltip"
                                           data-placement="right" title="Chi tiết"><i
                                            class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right"
                                           title="Add to Wishlist"><i
                                            class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" style="cursor: pointer"
                                   th:onclick=" 'addCart('+${tree.id}+')' ">Thêm vào giỏ hàng</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4 th:utext="${tree.name}">"</h4>
                            <p class="old-price" th:utext="${tree.discount}?${tree.getPriceFormat()}"></p>
                            <h5 class="new-old" th:utext="${tree.getPriceDiscount()}"></h5>
                        </div>
                    </div>
                </div>
            </th:block>
            <th:block th:each="tree: ${hotlist}">
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Hot</p>
                            </div>
                            <img th:src="${tree.mediaList[0].path}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a th:href="@{/chi-tiet-san-pham(id=${tree.id})}" data-toggle="tooltip"
                                           data-placement="right" title="Chi tiết"><i
                                            class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right"
                                           title="Add to Wishlist"><i
                                            class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" style="cursor: pointer"
                                   th:onclick=" 'addCart('+${tree.id}+')' ">Thêm vào giỏ hàng</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4 th:utext="${tree.name}">"</h4>
                            <p class="old-price" th:utext="${tree.discount} ? ${tree.getPriceFormat()}"></p>
                            <h5 class="new-old" th:utext="${tree.getPriceDiscount()}"></h5>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
<!-- End Products  -->

<!-- Start Instagram Feed  -->
<div th:replace="~{web/fragment::instagramBox}"></div>

<!--Footer-->
<footer th:replace="~{web/fragment::footer}"></footer>

<!--Copyright-->
<div th:replace="~{web/fragment::copyRight}"></div>

<!--Back to top-->
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<th:block th:insert="~{web/fragment::body/script}"></th:block>
</body>
</html>