<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TreeStore</title>
    <link th:href="@{web/images/logo.png}" rel="shortcut icon" type="image/x-icon"/>
    <th:block th:insert="~{web/fragment::head/link}"></th:block>
</head>
<body>
<!-- Start Main Top -->
<div th:replace="~{web/fragment::mainTop}"></div>

<!-- Start Main Header -->
<header th:replace="~{web/fragment::mainHeader}"></header>

<!-- Start Top Search -->
<div th:replace="~{web/fragment::topSearch}"></div>

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Kiểm tra đơn hàng</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Kiểm tra đơn hàng</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!--Forgot password-->
<div class="container">
    <div class="col-12" id="check-order">

    </div>
</div>
<!-- Start Instagram Feed  -->
<div th:replace="~{web/fragment::instagramBox}"></div>

<!--Footer-->
<footer th:replace="~{web/fragment::footer}"></footer>

<!--Copyright-->
<div th:replace="~{web/fragment::copyRight}"></div>

<!--Back to top-->
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<th:block th:insert="~{web/fragment::body/script}"></th:block>
<script>
    $(function () {
        $.ajax({
            method: "get",
            url: "don-hang",
            dataType: "json",
            cache: "false"
        }).done(function (list) {
            var str = "";
            for (let ordered of list) {
                str += " <div class='table-responsive' style='font-size: 17px; font-weight: bold'>";
                str += "    <table class='table product-list'>";
                str += "      <tr>";
                str += "       <td>Thông tin đơn hàng</td>";
                str += "    <td>Ngày đặt hàng: " + ordered.orderedDateString + "</td>";
                str += "   <td>Trạng thái: " + ordered.status + "</td>";
                str += "  </tr>";
                str += "      <tr>";
                str += "       <td >Chi tiết đơn hàng</td>";
                str += "  </tr>";
                str += "  </table>";
                str += " </div>";
                str += " <div class='cart-info table-responsive'>"
                str += " <table class='table product-list'>";
                str += "    <thead>";
                str += "        <tr>";
                str += "           <th></th>";
                str += "        <th>Tên sản phẩm</th>";
                str += "    <th>Giá</th>";
                str += "     <th>Số lượng</th>";
                str += "    <th>Thành tiền</th>";
                str += "    <th></th>";
                str += " </tr>";
                str += " </thead>";
                str += " <tbody>";
                for (let item of ordered.orderedItemList) {
                    str += " <tr>";
                    str += "     <td class='image'>";
                    str += "       <a href='/chi-tiet-san-pham?id=" + item.tree.id + "'> ";
                    str += "  <img src='" + item.tree.mediaList[0].path + "' class='img-responsive'/></a>";
                    str += "   </td>";
                    str += "   <td class='des'>";
                    str += "     <h2>";
                    str += "       <a href='/chi-tiet-san-pham?id=" + item.tree.id + "'>";
                    str += "    </a>" + item.tree.name;
                    str += "  </h2>";
                    str += "  </td>";
                    str += "  <td class='price'>";
                    str += "   <div><span class='price-old' style='text-decoration-line: line-through'>"
                    str += item.tree.discount ? formatPrice(item.tree.price) : "" + "</span>";
                    str += " </div>";
                    str += " <div><span class='price-new'>";
                    str += item.tree.priceDiscount + "</span>";
                    str += "     </div>";
                    str += "  </td>";
                    str += "  <td class='quantity'>" + item.quantity + "</td>";
                    str += " <td class='amount'>" + formatPrice(item.totalPrice) + "  </td>";
                    str += " </tr>";
                }
                str += " </tbody>";
                str += "</table>";
                str += " </div>";
                str += "  <div class='clearfix text-right' style=' padding: 15px;  font-size: 20px;'>";
                str += "<div>";
                str += " <span>"
                str += " <b>Phí vận chuyển: </b> 25.000 VND";
                str += " </span>";
                str += " </div>";
                str += "<div>";
                str += "  <span>";
                str += "  <b>Tổng thanh toán: </b>" + formatPrice(ordered.totalPrice);
                str += "</span>";
                str += " </div>";
                str += "  </div>";
            }
            $('#check-order').html(str);
        });
    })
</script>
</body>
</html>