<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TreeStore</title>
    <link th:href="@{web/images/logo.png}" rel="shortcut icon" type="image/x-icon"/>
    <th:block th:insert="~{web/fragment::head/link}"></th:block>
</head>
<body>
<!-- Start Main Top -->
<div th:replace="~{web/fragment::mainTop}"></div>

<!-- Start Main Header -->
<header th:replace="~{web/fragment::mainHeader}"></header>

<!-- Start Top Search -->
<div th:replace="~{web/fragment::topSearch}"></div>

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>LIÊN HỆ</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Trang chủ</a></li>
                    <li class="breadcrumb-item active"> Liên hệ</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Contact Us  -->
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">
                    <h2>LIÊN HỆ</h2>
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Tên của bạn" required data-error="Đây là trường bắt buộc">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Địa chỉ Email" id="email" class="form-control" name="name" required data-error="Đây là trường bắt buộc">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" placeholder="Lời nhắn" rows="4" data-error="Bạn cần chúng tôi hỗ trợ?" required></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="submit-button text-center">
                                    <button class="btn hvr-hover" id="submit" type="submit">Gửi</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="contact-info-left">
                    <h2>THÔNG TIN LIÊN HỆ</h2>
                    <ul>
                        <li>
                            <p><i class="fas fa-map-marker-alt"></i>Địa chỉ: Phường Linh Trung, tp Thủ Đức, TP.HCM</p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone-square"></i>Số điện thoại: <a href="tel:09092105658">09092105658</a>
                            </p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope"></i>Email: <a href="mailto:treestore@gmail.com">treestore@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Us-->


<!-- Start Instagram Feed  -->
<div th:replace="~{web/fragment::instagramBox}"></div>

<!--Footer-->
<footer th:replace="~{web/fragment::footer}"></footer>

<!--Copyright-->
<div th:replace="~{web/fragment::copyRight}"></div>

<!--Back to top-->
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<th:block th:insert="~{web/fragment::body/script}"></th:block>
</body>
</html>