<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TreeStore</title>
    <link th:href="@{web/images/logo.png}" rel="shortcut icon" type="image/x-icon"/>
    <th:block th:insert="~{web/fragment::head/link}"></th:block>
</head>
<body>
<!-- Start Main Top -->
<div th:replace="~{web/fragment::mainTop}"></div>

<!-- Start Main Header -->
<header th:replace="~{web/fragment::mainHeader}"></header>

<!-- Start Top Search -->
<div th:replace="~{web/fragment::topSearch}"></div>

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Quên mật khẩu</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Quên mật khẩu</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!--Forgot password-->
<div class="container">
    <th:block>
        <div class="alert alert-info mt-4" th:utext="${message}">
            <i class="fa-fw fa fa-check"></i>
        </div>
    </th:block>
    <h1 class="title mt-4"><span>Quên mật khẩu</span></h1>
    <form onsubmit="" class="form-horizontal"
          th:action="@{/send-mail-forget-password}" method="get"
          th:object="${user}">
        <div class="form-group">
            <label class="col-sm-4 control-label">Email:</label>
            <div class="col-sm-8">
                <input name="email" type="email" class="form-control" id="email" required/>
            </div>
            <div class="col-sm-8" id="emailError" style="display: none;color: red;float: right">
                Error
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-default">Gửi</button>
            </div>
        </div>
    </form>
</div>
<!-- Start Instagram Feed  -->
<div th:replace="~{web/fragment::instagramBox}"></div>

<!--Footer-->
<footer th:replace="~{web/fragment::footer}"></footer>

<!--Copyright-->
<div th:replace="~{web/fragment::copyRight}"></div>

<!--Back to top-->
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<th:block th:insert="~{web/fragment::body/script}"></th:block>
</body>
</html>
