<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TreeStore</title>
    <th:block th:insert="~{web/fragment::head/link}"></th:block>
</head>
<body>
<!-- Start Main Top -->
<div th:replace="~{web/fragment::mainTop}"></div>

<!-- Start Main Header -->
<header th:replace="~{web/fragment::mainHeader}"></header>

<!-- Start Top Search -->
<div th:replace="~{web/fragment::topSearch}"></div>
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Shop</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Shop</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-6 col-sm-6 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sắp xếp </span>
                                <select id="basic" class="selectpicker show-tick form-control" onchange="sortWith()">
                                    <option selected="selected" value="">Mặc định</option>
                                    <option value="?sort=price&amp;order=asc">Gi&#225; tăng dần</option>
                                    <option value="?sort=price&amp;order=desc">Gi&#225; giảm dần</option>
                                    <option value="?sort=name&amp;order=asc">T&#234;n: A to Z</option>
                                    <option value="?sort=name&amp;order=desc">T&#234;n: Z to A</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sản phẩm/trang</span>
                                <select onchange="sortWith()" id="lblimit" name="lblimit" class="selectpicker show-tick form-control">
                                    <option selected="selected" value="?limit=9">9</option>
                                    <option value="?limit=12">12</option>
                                    <option value="?limit=15">15</option>
                                    <option value="?limit=18">18</option>
                                </select>
                            </div>
                        </div>

                        <div class="product-categorie-box">
                            <div class="row" id="grid-view">
                                <!--load ajax-->
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="navigation" id="navigation"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form th:action="@{/san-pham}" method="get">
                            <input class="form-control" placeholder="Tìm kiếm..." type="text" id="searchName"
                                   onkeyup="search_title_product()" name="name">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Danh mục</h3>
                        </div>
                        <div class="list-group list-group-collapse list-group-sm list-group-tree"
                             id="list-group-men">
                            <!--                        load ajax-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->

<!-- Start Instagram Feed  -->
<div th:replace="~{web/fragment::instagramBox}"></div>

<!--Footer-->
<footer th:replace="~{web/fragment::footer}"></footer>

<!--Copyright-->
<div th:replace="~{web/fragment::copyRight}"></div>

<!--Back to top-->
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<th:block th:insert="~{web/fragment::body/script}"></th:block>
<script>
    $(function () {
        $.ajax({
            url: 'categories/getCategory',
            type: 'get',
            dataType: "json",
            success: function (rs) {
                var str = "";
                for (let category of rs) {
                    str += "<a href='/san-pham?category=" + category.code + "' class='list-group-item list-group-item-action'>" + category.name + "</a>";
                }

                $('#list-group-men').html(str);
            }
        });

        var currentLocation = window.location;
        $.ajax({
            method: 'GET',
            url: "danh-sach-san-pham" + currentLocation.search,
            dataType: 'json',
            cache: 'false'
        }).done(function (result) {
            show(result);
        });
    })

    function sortWith() {
        var sortValue = document.getElementById("basic").value;
        var searchValue = window.location.search;

        var limit = document.getElementById("lblimit").value;
        var sort = sortValue != "" ? "&" + sortValue.substring(1) : "";
        var search = searchValue != "" ? "&" + searchValue.substring(1) : "";
        var query = limit + sort + search;

        $.ajax({
            method: 'GET',
            url: "danh-sach-san-pham" + query,
            dataType: 'json',
            cache: 'false'
        }).done(function (result) {
            show(result);
        });
    }
</script>
</body>

</html>