<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TreeStore</title>
    <th:block th:insert="~{web/fragment::head/link}"></th:block>
</head>
<body>
<!-- Start Main Top -->
<div th:replace="~{web/fragment::mainTop}"></div>

<!-- Start Main Header -->
<header th:replace="~{web/fragment::mainHeader}"></header>

<!-- Start Top Search -->
<div th:replace="~{web/fragment::topSearch}"></div>

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>THANH TOÁN</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">Thanh toán</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <form class="needs-validation" novalidate method="post"
              th:action="@{/dat-hang}" th:object="${orderedInput}">
            <div class="row">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="checkout-address">
                        <div class="title-left">
                            <h3>Thông tin giao hàng</h3>
                        </div>
                        <div class="mb-3">
                            <label for="fullname">Tên người dùng</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="name" id="fullname" placeholder=""
                                       required
                                       th:value="${user.fullName}">
                                <div class="invalid-feedback" style="width: 100%;"> Vui lòng nhập tên người nhận</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" th:value="${user.email}">
                            <div class="invalid-feedback"> Vui lòng nhập email.</div>
                        </div>
                        <div class="mb-3">
                            <label for="address">Địa chỉ</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="" required
                                   th:value="${user.address}">
                            <div class="invalid-feedback"> Vui lòng nhập địa chỉ giao hàng.</div>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Số điện thoại</label>
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="" required
                                   th:value="${user.phone}">
                            <div class="invalid-feedback"> Vui lòng nhập số điện thoại.</div>
                        </div>
                        <hr class="mb-4">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="odr-box">
                                <div class="title-left">
                                    <h3>Đơn hàng</h3>
                                </div>
                                <div class="rounded p-2 bg-light">
                                    <div class="media mb-2 border-bottom">
                                        <th:block th:each="cart:${output.list}">
                                            <div class="media-body">
                                                <input type="checkbox" checked style="display: none"
                                                       name="carts"
                                                       field="carts" th:value="${cart.id}">
                                                <a th:href="@{/chi-tiet-san-pham(id=${cart.tree.id})}"
                                                   th:utext="${cart.tree.name}"></a>
                                                <div class="small text-muted">
                                                    <span th:utext="${cart.tree.getPriceDiscount()}"></span>
                                                    <span class="mx-2" th:utext="'x '+${cart.quantity}"></span>
                                                    <span class="mx-2" th:utext="${cart.total}"></span>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="order-box">
                                <div class="title-left">
                                    <h3>Chi tiết thanh toán</h3>
                                </div>
                                <div class="d-flex">
                                    <div class="font-weight-bold">Sản phẩm</div>
                                    <div class="ml-auto font-weight-bold">Tổng cộng</div>
                                </div>
                                <hr class="my-1">
                                <div class="d-flex">
                                    <h4>Tổng tiền hàng</h4>
                                    <div class="ml-auto font-weight-bold" th:utext="${output.format}"></div>
                                    <input type="hidden" id="price" th:value="${output.total}">
                                </div>
                                <div class="d-flex">
                                    <h4>Phí vận chuyển</h4>
                                    <div class="ml-auto font-weight-bold"> 25.000VND</div>
                                </div>
                                <hr>
                                <div class="d-flex gr-total">
                                    <h5>Tổng thanh toán</h5>
                                    <div class="ml-auto h5" th:utext="${output.pay}"></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="col-12 d-flex shopping-box">
                            <button type="submit" class="ml-auto btn hvr-hover">Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Cart -->

<!-- Start Instagram Feed  -->
<div th:replace="~{web/fragment::instagramBox}"></div>

<!--Footer-->
<footer th:replace="~{web/fragment::footer}"></footer>

<!--Copyright-->
<div th:replace="~{web/fragment::copyRight}"></div>

<!--Back to top-->
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<th:block th:insert="~{web/fragment::body/script}"></th:block>
</body>
</html>